* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 3.5em;
}

h3 {
	font-size: 1.3em;
}

h2 {
	font-size: 2em;
}

.Home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
		"hero"
    "benefits"
		"steps"
		"freebie"
		"faq"
		"about"
		"partners"
		"footer";
}

.Home {
  text-align: center;
}

.container {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Header */
/* Hero */
.hero {
	width: 100%;
	grid-area: hero;
	background-image: url('./images/website-banner.png');
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50.5em;
	background-repeat: no-repeat;
	color: white;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

.hero-logo {
	height: 60px;
	padding: 7px;
	margin: 10px;
	position:absolute;
	top: 0;
	left: 0;
	text-align: left;
}

.hero-language {
	padding: 10px;
	position:absolute;
	top: 0;
	right: 0;
	text-align: right;
}

.hero-language button {
	color: white;
	border: none;
	background-color: inherit;
	cursor: pointer;
	display: inline-block;
}

.hero-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.hero-content h1 {
	margin-bottom: 10px;
}

.hero-subheader {
	font-size: 1.3em;
	margin-bottom: 70px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}

.hero-text {
	font-size: 0.8em;
}

.hero-content button {
	font-size: 1.5em;
}
/* Benefits */
.benefits {
	grid-area: benefits;
	background-color: #283889;
	color: white;
	font-weight: 300;
}

.benefits-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

.benefits-content img {
	height: 100px;
}

.benefits-content p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* About */
.about {
	grid-area: about;
	background-color: #283889;
	color: white;
}

.about-content{
	width: 80%;
}

.about-content p {
	font-size: 1.5em;
}

/* Steps */
.steps {
	grid-area: steps;
	background-color: #f9f9f8;
}
.steps-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.steps-step {
	background-color: white;
}

.steps-step p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}

.steps-step img{
	height: 7em;
}

.steps-header {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 1.8em;
}

.steps-header p {
	margin-top: 0;
}
/* Freebie */
.freebie {
	grid-area: freebie;
	background-color: #283889;
}
.freebie-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 20px;
	color: white;
}

.freebie-image img {
	width: 250px;
}

.freebie-content h4 {
	margin-top: 0;
}

.freebie-text {
	text-align: left;
	width: 80%;
}

.freebie-text ul {
	margin-bottom: 30px;
}

.freebie-text button {
	margin-left: 0;
	margin-right: 0;
	padding: 10px;
}

.freebie-text h3{
	color: #ede839;
}

.freebie-text p {
	font-size: 1.5em;
}
/* FAQ */
.faq {
	grid-area: faq;
}

.faq-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
}

.faq-content-question {
	display: flex;
	flex-direction: column;
	width: 90%;
}

/* Partners */
.partners {
	grid-area: partners;
	background-color: #f9f9f8;
}
.partners-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.partners-content img{
	height: 80px;

}
/* Footer */
.footer {
	text-align: center;
	grid-area: footer;
	background-color: black;
	color: white;
	font-size: 0.5em;
	padding: 10px;
}

.footer p {
	margin: 0;
}

button {
	color: #black;
	background: #ede839;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	text-align: center;
	display: block;
	padding: 7px 14px;
	margin: 10px auto;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

/* Register */
.register {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: rgba(40, 56, 137, 0.95);
	z-index: 9999;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: auto;
	animation: show .5s ease;
}

.register-container {
	 width: 60%;
	 background-color: white;
	 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	 border-radius: 10px;
 }

.register-form p {
	font-size: 0.6em;
	margin-left: auto;
	margin-right: auto;
}

.register-form button {
	color: black;
	width: 100%;
	padding: 10px;
}

.register-form {
	padding-top: 20px;
}

.register-form-logo {
	height: 60px;
	margin-bottom: 40px;
}

.register-header {
	color: black;
}

.register-input-fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: auto;
	margin-right: auto;
}

.register-input-fields input {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 980px) {
	.benefits-content {
		grid-template-columns: 1fr 1fr;
	}
	.steps-content {
		grid-template-columns: 1fr 1fr;
	}
	.register-container {
		 width: 100%;
	 }
	 /* .hero {
		height: 100%;
		padding-top: 2.5rem;
	 } */
}
@media all and (max-width: 736px) {
	.benefits-content {
		grid-template-columns: 1fr 1fr;
	}
	.steps-content {
		grid-template-columns: 1fr;
	}
	.partners-content {
		grid-template-columns: 1fr 1fr;
	}
	.faq-content {
		grid-template-columns: 1fr;
	}
	.freebie-content {
		grid-template-columns: 1fr;
	}
	.freebie-text {
		text-align: center;
		width: 100%;
	}
	.freebie-text button {
		margin-left: auto;
		margin-right: auto;
	}
	.register-container {
		 width: 100%;
	 }
	 .register-input-fields {
		grid-template-columns: 1fr;
	 }
	 .hero {
		height: 100%;
		padding-top: 2.5rem;
	 }
}
@media all and (max-width: 480px) {
	.benefits-content {
		grid-template-columns: 1fr;
	}
	.steps-content {
		grid-template-columns: 1fr;
	}
	.freebie-content {
		grid-template-columns: 1fr;
	}
	.partners-content {
		grid-template-columns: 1fr;
	}
	.faq-content {
		grid-template-columns: 1fr;
	}
	.freebie-text {
		text-align: center;
		width: 100%;
	}
	.freebie-text button {
		margin-left: auto;
		margin-right: auto;
	}
	.register-container {
		 width: 100%;
	 }
	 .register-input-fields {
	 	grid-template-columns: 1fr;
	 }
	 .hero {
	 	height: 100%;
		padding-top: 2.5rem;
	 }
	 h1 {
		 font-size: 2em;
	 }
}
